/* Body */
body{
    display: flex;
}

a {
    color: inherit; /* Mantiene el color del texto del contenedor padre */
    text-decoration: none; /* Elimina el subrayado */
}

/* Menu de navegacion */
.navigation{
    max-width: 200px;
    flex: 1;
    height: 100vh;
    background-color:darkturquoise;
    padding: 0 0 0 20px;
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
}

.navigation .item, #itemSelected{
    padding: 3px;
}

.navigation .item:hover,#itemSelected:hover{
    background-color: paleturquoise;
}

#itemSelected{
    padding: 0px 0px 0px 10px;
    font-weight: 700;
    background-color: white;
}

/* Contenedor */
.container{
    display: flex;
    flex-direction: column;
    flex: 2;
    max-width: 100%;
}

/* Header */
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#add{
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.75);
    background-color: darkturquoise;
    color: white;
    padding: 10px;
    border: 0px solid white;
    border-radius: 5px;
}


#back{
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.75);
    background-color: red;
    color: white;
    padding: 10px;
    border: 0px solid white;
    border-radius: 5px;
}


#title{
    text-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.75);
    padding: 0px 20px;
    font-weight: 700;
}

.divider{
    background-color: rgb(165, 165, 165);
    width: 100%;
    height: 2px;
}

/* Exclusivo de inicio */
.container .card{
    width: 99%;
    margin: 20px;
    padding: 20px 0px 20px 0px;
    text-align: center;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.75);
}

/* Exclusivo de student */
#search{
    display: flex;
    margin: 30px 10px 5px 10px;
    width: 100%;
}

#lastnameInput{
    flex: 1;
}

#searchButton{
    flex:0;
}

#studentsTable{
    width: 100%;
    border-collapse: collapse;
    margin: 0px 0px 20px 10px;
}

th, td{
    border: 1px solid black;
    text-align: center;
    padding: 8px;
}

.pagination{
    width: 100%;
    display: flex;
    justify-content: end;
}

/* Exclusivo de formStudent */
.parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 24px;
    align-items: center;
    border: 1px solid white;
    margin: 20px;
    padding: 10px;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.75);

    }

.div1 { grid-area: 1 / 1 / 2 / 2; }
.div2 { grid-area: 1 / 2 / 2 / 2;}
.div3 { grid-area: 2 / 1 / 3 / 2; }
.div4 { grid-area: 2 / 2 / 3 / 3; }

#inputName, #inputLastname{
    width: 100%;
}

#addForm{
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.75);
    background-color: darkturquoise;
    color: white;
    max-width: 70px;
    height: 30px;
    border: 0px solid white;
    border-radius: 5px;
}

/* Paginacion */

.pagination {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.pagination label {
    margin-right: 10px;
}

#recordsPerPage {
    padding: 5px;
    margin-right: 20px;
}

.page-buttons {
    display: flex;
    gap: 5px;
}

.page-number {
    padding: 5px 10px;
    border: 1px solid #ddd;
    background-color: #f4f4f4;
    cursor: pointer;
}

.page-number.active {
    background-color: green;
    color: white;
}

.page-number:hover {
    background-color: #ddd;
}
