.bloque{ /*selector por clase*/
    display: block; /* viene por defecto*/
    margin-bottom: 20px;
    border: 3px solid black;
    border-radius: 4px;
}

#bloque-uno{ /*selector por id*/
    background-color: black;
    color: white;
}

.item-lista{
    background-color: greenyellow;
    padding: 10px;
    margin: 10px;
    max-width: 15vh;
    text-align: center;
    font-family: consolas;
    border: 5px solid white;
    border-radius: 10px;
    
}

/*JERARQUIA DE IMPORTANCIA

se puede utilizar !important para romper la estructura jerarquica */
